<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamite Technology's</title>
    <link rel="shortcut icon" href="../assets/img/Dinamite Design.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/Estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="#Nuestro Producto">Nuestro Producto</a>
            <a href="#Portafolio">Portafolio</a>
            <a href="#Nuestros servicios">Nuestros Servicios</a>
            <a href="#Contacto">Contacto</a>
            <a href="https://next-force.github.io/Next-Force-Login.github.io/">Registrarse</a>
        </nav>
        <section class="textos-header">
            <h1>Impulsa tu emprendimiento de manera eficiente</h1>
            <h2>Mediante una Facturacion de otro nivel</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <div id="Nuestro Producto"></div> 
            <h2 class="titulo">Nuestro producto</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="../assets/img/Ilustration 1.png" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eligendi magnam aliquam,
                        molestiae fugit modi, numquam reiciendis error quasi vero nobis maxime. Omnis iste beatae nihil
                        quisquam, ducimus quas enim.</p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum maiores saepe eum similique 
                        nostrum officiis quos, quis necessitatibus suscipit quidem.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div id="Portafolio"></div>
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../assets/img/port 1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 4.png" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 5.webp" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../assets/img/port 8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/img/Icon 1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div id="Nuestros servicios"></div>
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="../assets/img/Ilustration 2.jpg" alt="">
                        <h3>Facturacion</h3>
                        <p>Ofrecemos un servicio de actualizacion o en cuyo caso de implementacion de un sistema de facturacion moderno el cual a usted como nuevo emprendedor
                        le ayudara a convertir su emprendimiento en uno con aun mas grandes expectativas y mayores oportunidades de progreso</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="../assets/img/Ilustration 3.jpg" alt="">
                        <h3>Administracion</h3>
                        <p>Nos encargaremos del gestionamiento de su emprendimiento y con esto mismo aconsejandole para tomar las mejores decisiones las cuales por encima de todo 
                        se buscara que beneficien o en algun caso en especial que no lleguen a perjudicar el futuro de su negocio</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="../assets/img/Ilustration 4.jpg" alt="">
                        <h3>Manejo de Recursos</h3>
                        <p>Aparte de nuestro sistema, como empresa, tambien podremos tomar el curso o uso destinado de sus recursos, de esta manera haciendolo sentit seguro de que todo 
                        lo que usted compre para su negocio siempre se use de la mejor manera</p>
                    </div>
                    <div class="servicio-ind">
                        <h3>Nota Adicional</h3>
                        <p>Si asi lo requiere tambien puede contratar los 3 servicios para que estos le puedan colaborar a usted en su emprendimiento y que este tenga un futuro prospero</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="Contacto"></div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>548920249</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>NextForce@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>Kra 20 Cl 15 #62B </p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Dinamite Design | Nextforce</h2>
    </footer>
</body>

</html>
